.list-content {
    padding-bottom: .6rem;
    .list-title {
        text-align: center;
        font-size: .16rem;
        margin-top: .14rem;
        margin-bottom: .05rem;
    }
    .title-line {
        display: inline-block;
        border-bottom: .01rem solid #949494;
        height: .01rem;
        width: .3rem;
        margin-left: .04rem;
        margin-right: .04rem;
        margin-bottom: .04rem;
    }
  
}