
.bottom-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: .5rem;
    display: flex;
    border-top:.01rem solid #b6b6b6;
    background-color: rgba(246,246,246,0.95);
   
    .btn-item {
        flex: 1;
        font-size:.11rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #999;
        text-decoration: none;
        .tab-icon {
            margin-bottom: .04rem;
            width:.25rem;
            height: .25rem;
            background-size: cover;
        }
      
        &.home{
            .tab-icon{
                background-image: url('./img/homeIcon.png')
            }
            &.active {
                .tab-icon{
                    background-image: url('./img/homeIconActive.png')
                }
            }
          
        }
        &.order{
            .tab-icon{
                background-image: url('./img/orderIcon.png')
            }
            &.active {
                .tab-icon{
                    background-image: url('./img/orderIconActive.png')
                }
            }
        }
        &.my{
            .tab-icon{
                background-image: url('./img/myIcon.png')
            }
            &.active {
                .tab-icon{
                    background-image: url('./img/myIconActive.png')
                }
            }
        }
       
    }
}